/* ===== HERO SLIDER ===== */

.hero-slider {
    width: 50%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    margin-top: 80px; /* to avoid navbar overlap */
}

.slider-container {
    display: flex;
    width: 400%; /* for 4 images */
    height: 100%;
    animation: slide-left 20s infinite linear;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 1000px;
    height: 100%;
    object-fit: cover;
    padding: 20px
}

/* Fallback animation */
@keyframes slide-left {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }

    25%  { transform: translateX(-100%); }
    45%  { transform: translateX(-100%); }

    50%  { transform: translateX(-200%); }
    70%  { transform: translateX(-200%); }

    75%  { transform: translateX(-300%); }
    95%  { transform: translateX(-300%); }

    100% { transform: translateX(0); }
}

/* ===== NAV BUTTONS ===== */

.slider-nav span {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    transition: 0.3s ease;
    background: rgba(0,0,0,0.3);
    border-radius: 6px;
}

.prev { left: 10px; }
.next { right: 10px; }

.slider-nav span:hover {
    background: rgba(0,0,0,0.6);
}
